* {margin: 0; padding: 0; box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {font-family: "JetBrains Mono", monospace;}
body {
    background: #111;
    color: #fff;
}
#root {
    padding: 0 10vmin;
}
.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 0px;
    border: 2px solid blueviolet;
}


.post-enter {
    transform: translateX(-1000px);
    transition: all 500ms ease-in;
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit-active {
    transform: translateX(-1000px);
    transition: all 500ms ease-in;
}